/* font  */
@font-face {
    font-family: "Campton-Bold";
    src: url('./assets/Modul_B_Asset/Modul_B_Material/fonts/campton/Campton-BoldDEMO.otf');
}

@font-face {
    font-family: "Campton-Light";
    src: url('./assets/Modul_B_Asset/Modul_B_Material/fonts/campton/Campton-LightDEMO.otf');
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* navbar */
nav {
    padding: 30px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0; 
    z-index: 3;
}

nav .btn-toggle{
    float: right;
    background-color: transparent;
}

nav .btn-toggle .menu-icon{
    color: white;
}

nav .nav-group .close-nav{
    color: snow;
    font-family: "Campton-Bold";
    font-size: 20px;
    margin: 10px 100px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

nav .nav-group {
    height: 100%;
    display: block;
    background-color: rgb(48, 150, 184);
    opacity: 0.9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

nav .nav-group .nav-item:nth-child(2){
    margin-top: 70px;
}

nav .nav-group .nav-item {
    margin-top: 30px;
    text-align: center;
    list-style: none;
    
}

nav .nav-group .nav-item a{
    text-decoration: none;
    font-size: 24px;
    color: snow;
    text-transform: uppercase;
}

nav .nav-group .nav-item::after {
   content: "";
   display: block;
   border-bottom: 2px solid skyblue;
   width: 30%;
   margin: auto;
}

nav .nav-group .nav-item:last-child::after {
    content: "";
    border: none;
 }

 nav .collapse{
     display: none;
 }


/* carousel */
.carousel .carousel-image{
    /* margin-top: -100px; */
    height: 400px;
    position: relative;
}
.carousel {
    /* margin-top: -75px; */
    position: relative;
    z-index: 1;
}
.carousel-item::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 2;
    bottom: 0;
}

/* about */
#about {
    background-color: #dadada;
}

#about .container{
    padding-top: 50px;
}

#about .container .title{
    font-family: "Campton-Light";
    color: deepskyblue;
    margin-bottom: 50px;
}

#about .container .title::before{
    content: "About ";
    font-family: "Campton-Bold";
    color: black;
    border-bottom: 3px solid deepskyblue;
}

#about .container .about-text{
    /* font-weight: 10; */
    font-weight: 100;
    font-size: 40px;
    font-family: "Campton-Light";
}

#about .container .about-text span{
    font-weight: 900;
    font-size: 40px;
    font-family: "Campton-Bold";
}

#about .container .baris-1 img{
    width: 400px;
}


#about .baris-3 .bf-left{
    padding-right : 0;
    background-image: url('./assets/Modul_B_Asset/Modul_B_Material/img/case-study/bf-left.jpg');
    background-size: 700px;
    background-position: top right;
    height: 300px;
    background-repeat: no-repeat;
    font-family: "Campton-Light";
}

#about .baris-3 .bf-left h3{
    color: beige;
    text-shadow: 1px 1px 1px #757575;
    text-align: right;
    margin: 100px 40px;
}

#about .baris-3 .bf-right{
    padding-left : 0;
    background-image: url('./assets/Modul_B_Asset/Modul_B_Material/img/case-study/bf-right.jpg');
    background-size: 700px;
    height: 300px;
    background-repeat: no-repeat;
    font-family: "Campton-Light";
}

#about .baris-3 .bf-right h3{
    color: beige;
    text-shadow: 1px 1px 1px #757575;
    text-align: left;
    margin: 100px 40px;
}


/* why choose */
.why-choose{
    padding: 50px 0;
}

.why-choose .title h3{
    font-family: "Campton-Light";
    margin-bottom: 100px;
    /* font-weight: 200; */
}

.why-choose .title h3::before{
    content: "Why";
    border-bottom: 3px solid deepskyblue;
}

.why-choose .title h3 span{
    font-family: "Campton-Light";
    color: deepskyblue;
}

.why-choose .container img{
    width : 90px;
}

.why-choose .container h3{
    font-weight: bold;
    font-family: "Campton-Bold";
    margin-top: 10px;
}

.why-choose .container p{
    margin-top: 20px;
    font-weight: 200;
    color: #adadad;
    font-family: "Campton-Light";
}

/* featured product  */
#featured-product {
    background-color: #dadada;
    padding: 50px 0;
    margin-bottom: 300px;
}

#featured-product .title {
    color: deepskyblue;
    font-family: "Campton-Light";
    font-weight: 200;
    margin-bottom: 50px;
}

#featured-product .title::before {
    content: "Featured ";
    color: black;
    font-family: "Campton-Bold";
    font-weight: bold;
    border-bottom: 3px solid deepskyblue;
}

#featured-product .img-product{
    border: 3px solid deepskyblue;
    position: relative;
    z-index: 1;
}

#featured-product .overlay{
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 0;
}

#featured-product .overlay .btn-learn-more{
    bottom: 0;
    width: 100%;
    display: block;
    position: absolute;
    background-color: dodgerblue;
    font-family: "Campton-Bold";
    color: snow;
}

#featured-product .product:hover .overlay{
    background-color: deepskyblue;
    opacity: 0.7;
    z-index: 2;
}

/* tablet */
@media (min-width: 600px){
    /* carousel */
    .carousel .carousel-image{
        /* margin-top: -200px; */
        height: 500px;
        position: relative;
    }

    .carousel-item h1 {
        margin-top: -250px;
        font-weight: bold;
    }
}

/* desktop */
@media (min-width: 992px){

    /* carousel */
    .carousel .carousel-image{
        /* margin-top: -200px; */
        height: 600px;
        position: relative;
    }
    
    .carousel-item h1 {
        margin-top: -350px;
        font-weight: bold;
    }

}